/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */
.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Body */
/* Header */
header {
    margin: 20px 0;
}
header h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
}

/* Main */
.card-container .row {
    margin: 30px 0;
}

.card-container .card {
    width: calc((100% / 4) - 30px);
    height: 220px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
}

#upcard {
    background-image: url(../img/air_balloon.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

