/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */
.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pointer {cursor: pointer;}

/* Body */
/* Header */
header {
    margin: 20px 0;
}
header h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
}

/* Main */
.card-container .row {
    margin: 30px 0;
}

.card-container .row .card {
    width: calc((100% / 4) - 20px);
    height: 250px;
    background-image: url(../img/pattern.png);
    background-size: contain;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
    position: relative;
}
.card-container .card:nth-child(3n + 4) {
    margin-right: 0;
}


#upcard {
    background-image: url(../img/air_balloon.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    
}


.text-upcard {
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-size: 32px;
    color: #ec0681;
}

/* Hover */
#bicycle:hover{
    content: "";
    background-image: url(../img/bicycle.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;  
}


#submarine:hover {
    content: "";
    background-image: url(../img/Submarine.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#tram:hover {
    content: "";
    background-image: url(../img/Tram.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

#tractor:hover {
    content: "";
    background-image: url(../img/Tractor.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}


#cruise-ship:hover {
    content: "";
    background-image: url(../img/Cruise_Ship.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}







/* Footer */
footer {
    font-size: 22px;
    text-align: center;
}