/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Utility */
.container {
    max-width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Body */
/* Header */
header {
    margin: 20px 0;
}
header h1 {
    color: #fff;
    font-size: 80px;
    text-align: center;
}

